$fontColor: #CFA43F;
$lightColor: #fffceb;
$darkColor: #000000;
$fontPoller: 'Poller One', cursive;
$fontRaleway: 'Raleway Dots', cursive;
$fontOpenSans: 'Open Sans', sans-serif;

$mediumScreen: (min-width: 1200px) and (max-width: 1399px);





// body {
//     width: 100%;
//     height: 100vh;
//     background: linear-gradient(180deg, rgba(210, 182, 178, 0.5) 1.59%, rgba(81, 70, 125, 0) 75.41%),
//     linear-gradient(0deg, rgba(0, 0, 0, 0.74), rgba(0, 0, 0, 0.74));

// }
