$fontColor: #CFA43F;
$lightColor: #fffceb;
$darkColor: #000000;
$fontPoller: 'Poller One', cursive;
$fontRaleway: 'Raleway Dots', cursive;
$fontOpenSans: 'Open Sans', sans-serif;

$mobileScreen: '(min-width: 320px) and (max-width: 600px)';
$mobileLargeScreen: '(min-width: 601px) and (max-width: 800px)';
$tableScreen: '(min-width: 801px) and (max-width: 1023px)';
$laptopScreen: '(min-width: 1024px) and (max-width: 1399px)';
