.nav--app {
    display: flex;
    justify-content: space-around;

    li {
        padding-left: 5rem;
        padding-right: 1rem;
        font-size: 1.2rem;
        z-index: 21;
        
        a {
            color: $lightColor;
            font-family: $fontOpenSans;
            padding: 0 .5rem .5rem .5rem;
        }
    }
}

.navbar--app {
    display: none;
}

.active--link {
    border-bottom: 1px solid $lightColor;
    padding: 0 .5rem .5rem .5rem;
}

.navbar--icon--btn {
    border: 0;
    outline: none;
    margin-right: 1rem;
    padding: 1rem;
    background-color: transparent;
    transition: .1s;
    position: relative;
    z-index: 201;

    .fa {
        color: $darkColor;
        font-size: 5rem;
    }

    .fa-times {
        color: $lightColor;
        font-size: 3.5rem;
    }

    &:hover {
        transform: scale(1.05);
    }
}

.mobile--nav--app {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .8);
    z-index: 200;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: navbar 1s;

    li {
        margin: 2.3rem 0;

        a {
            font-size: 2.7rem;
            color: $lightColor;
        }
    }
}

// .mobile--nav--show {
//     animation: navbar 1s;
// }

.mobile--nav--hide {
    animation: navbarHide 1s;
}

@keyframes navbar {
    0% {
        right: -100%;
    }
    100% {
        right: 0;
    }
}

@keyframes navbarHide {
    0% {
        right: 0%;
    }
    100% {
        right: -100%;
    }
}

@media #{$mobileScreen} {
    html {
        font-size: 8px;
    }
    
    .nav--app {
        display: none;
    }

    .navbar--app {
        display: block;
    }
}

@media #{$mobileLargeScreen} {
    html {
        font-size: 10px;
    }

    .nav--app {
        display: none;
    }

    .navbar--app {
        display: block;
    }
}