.main--app {
    flex-basis: 100%;
    height: calc(100vh - 5rem);
    position: relative;
}

.main--box {
    width: 100%;
    text-align: center;
    padding-top: 8%;
    z-index: 10;
    position: relative;

    .title--letter {
        font-family: $fontPoller;
        padding: 0 .2rem;
        color: $darkColor;
        position: relative;
        text-transform: uppercase;
        z-index: 1;
    }

    .letter--1 {
        font-size: 12rem;
    }

    .letter--2 {
        font-size: 11rem;
    }

    .letter--3 {
        font-size: 10.8rem;
    }

    .letter--4 {
        font-size: 10.6rem;
    }

    .letter--5 {
        font-size: 10.4rem;
    }

    .letter--6 {
        font-size: 10.3rem;
    }

    .letter--7 {
        font-size: 10rem;
    }

    .letter--8 {
        font-size: 9.8rem;
    }

    .letter--9 {
        font-size: 9.5rem;
    }

    .title--letter::before {
        position: absolute;
        color: $fontColor;
        text-decoration: dotted;
        font-family: $fontRaleway;
        opacity: 0;
        animation: letter 1s forwards;
    }

    .letter--1::before {
        content: "C";
        top: 10%;
        left: 10%;
    }

    .letter--2::before {
        content: "L";
        top: -10%;
        left: -10%;
        animation-delay: .2s;
    }

    .letter--3::before {
        content: "A";
        top: 10%;
        left: -5%;
        animation-delay: .4s;
    }

    .letter--4::before {
        content: "S";
        top: 5%;
        left: 5%;
        animation-delay: .6s;
    }

    .letter--5::before {
        content: "S";
        top: -10%;
        left: 15%;
        animation-delay: .8s;
    }

    .letter--6::before {
        content: "I";
        top: -10%;
        left: 28%;
        animation-delay: .9s;
    }

    .letter--7::before {
        content: "C";
        top: 15%;
        left: -5%;
        animation-delay: 1s;
    }

    .letter--8::before {
        content: "A";
        top: -5%;
        left: 5%;
        animation-delay: 1.2s;
    }

    .letter--9::before {
        content: "L";
        top: 15%;
        left: -5%;
        animation-delay: 1.3s;
    }
}

.main--title {
    font-family: $fontPoller;
    font-size: 3rem;
    color: $darkColor;
    text-align: end;
    opacity: 0;
    animation: letter 1s 1.5s forwards;
}

.main--img {
    position: absolute;
    object-fit: cover;
    left: 0;
    bottom: 5%;
    width: 60%;
}

@keyframes letter {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media (min-width: 1200px) and (max-width: 1399px) {
    .main--box {
        padding-top: 5%;
    }

    .main--img {
        bottom: 3%;
        left: 2%;
        width: auto;
    }

    .header--app {
        padding: 0 1rem;
    }
}

@media #{$mobileScreen} {
    .main--box {
        .title--letter {
            font-size: 8.5rem;
        }
    }

    .main--app {
        height: calc(100vh - 10rem);
        min-height: 400px;
    }

    .main--img {
        position: absolute;
        object-fit: cover;
        left: -5%;
        bottom: 0%;
        width: 70%;
    }
}

@media (max-width: 499px) {
    .main--box {
        padding-top: 11%;
        .title--letter {
            font-size: 6.6rem;
        }
    }

    .main--img {
        bottom: 2%;
        width: 80%;
    }
}

@media (max-width: 399px) {
    .main--box {
        padding-top: 12%;

        .title--letter {
            font-size: 5rem;
        }
    }

    .main--img {
        bottom: 2%;
        width: 90%;
    }
}

@media #{$mobileLargeScreen}  {
    .main--box {
        padding-top: 8%;
        
        .title--letter {
            font-size: 8rem;
        }
    }

    .main--app {
        height: calc(100vh - 10rem);
    }

    .main--img {
        left: 0%;
        bottom: -5%;
        width: 50%;
    }
    .main--title {
        margin-right: 1%;
    }
}

@media #{$tableScreen} {
    .main--box {
        padding-top: 4%;

        .title--letter {
            font-size: 7rem;
        }
    }
    .main--img {
        width: 50%;
    }
}

@media #{$laptopScreen} {
    .main--box {
        padding-top: 4%;

        .letter--1 {
            font-size: 10rem;
        }
    
        .letter--2 {
            font-size: 9.6rem;
        }
    
        .letter--3 {
            font-size: 9.3rem;
        }
    
        .letter--4 {
            font-size: 9rem;
        }
    
        .letter--5 {
            font-size: 8.7rem;
        }
    
        .letter--6 {
            font-size: 8.4rem;
        }
    
        .letter--7 {
            font-size: 8rem;
        }
    
        .letter--8 {
            font-size: 7.7rem;
        }
    
        .letter--9 {
            font-size: 7.4rem;
        }
    }

    .main--img {
        width: 50%;
        left: -5%;
    }
}

@media (min-height: 700px) and (max-height: 1424px) and (max-width: 1024px) {
      .main--img {
         width: 95%;
         bottom: 3%;
     }

     .main--box {
         padding-top: 17%;
     }
}

